:root{
    --navbar-height:80px;
}
.navbar-container{
    width: 100%;
    height: var(--navbar-height);
    background: linear-gradient(90deg,rgb(5, 134, 240) 0%, rgb(5, 187, 219) 100%);
    display:flex;
    justify-content: center;
}
.navbarItems{
    /* background: linear-gradient(90deg,rgb(110,94,254) 0%, rgba(73,63,252,1) 100%); */
    /* background-color: #333; */
    /* background: linear-gradient(90deg,rgb(5, 134, 240) 0%, rgb(5, 187, 219) 100%); */
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    font-size:1.2rem; /* 1.2 x 16px  */
    max-width:1280px;
    width: 100%;
}

.navbar-logo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
}

.fa-react{
    margin-left: 8px;
    font-size: 1.6rem;
}

.nav-menu {
    list-style: none;
    display:flex;
    /* width: 70vw; */
    margin-left: auto;
}
.nav-menu-item{
    padding:4px;
}
.nav-links{
    color:#fff;
    padding:0.5rem 1rem;
    text-decoration: none;
}
.nav-links:hover{
    background-color:#6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars{
    color: #fff;
}
.nav-links-mobile{
    display:none;
    text-decoration: none;
}

.menu-icon{
    display:none;
}


@media (max-width:960px) {
    .navbarItems{
        position: relative;
    }
    .nav-menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        min-height:500px ;
        position:absolute;
        top:var(--navbar-height);
        left:100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-menu-item{
        width: 100%;
    }

    .nav-menu.active{
        /* background:#6668f4; */
        background:#3abcf7;
        left:0;
        opacity: 1;
        transition:all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding:2rem;
        width: 100%;
        display:block;
    }
    .nav-links:hover{
        background-color: #09a1e7;
        border-radius: 0;
    }
    .menu-icon{
        display:block;
        position:absolute;
        top:50%;
        right:0;
        transform: translate(-100%,-50%);
        font-size: 1.6rem;
        cursor: pointer;
    }
    .navbar-logo{
        position:absolute;
        top:50%;
        left:0;
        transform: translate(25%,-50%);
    }
    .fa-times{
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile{
        display:block;
        text-align: center;
        padding: 1.5em;
        margin:2rem auto;
        border-radius:4px;
        width: 80%;
        background:#4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size:1.5rem;
    }

    .nav-links-mobile:hover{
        background:#fff;
        color:#6568F4;
        transition:250ms;
    }
    .nav-sign-up-pc{
        display:none;
    }


    
}